@iconSpritePath:          "images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "images/glyphicons-halflings-white.png";
@icon-font-path:          "fonts/";
@btnBackground : #fff;
@btnBackgroundHighlight : #fff;
@headerBackground: #428BCA;
@headerHighlight: white;
@customBodyBackground: lighten(@headerBackground, 30%);
@headerAction:darken(@headerBackground,20%);
@footerHeight:200px;
@footerCopyrightHeight:40px;

body {
  #gradient > .vertical(white, white);
}

.servicesSidebar {
  padding-right:0;
  
  @media (max-width: @screen-xs-max) {
    padding-left:0; 
  }
}

.btn  {
  background-color : @headerAction;
  &:hover {
    background-color:@headerBackground;
  }
}

.btn-primary {
  background-color : @headerAction;
  &:hover {
    background-color:@headerBackground;
  }  
}

.btn-default {
  background-color:@headerBackground;
  color:white;  
}

.modal-header {
  background-color: @headerAction;
  .close{
    color:white;
  }
  
  h4 {
    color:white;
  }
  
}
.showcase {
  .caption { 
    margin-bottom:3px;
  }
  .btn {
    width:100%;
  }
  h3 {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
  }
  @media (min-width: @screen-sm) {
    [class*='col-'] {
      padding-left:10px;
      padding-right:10px;
      &:first-child {
        padding-left:0;
        padding-right:20px;  
      }
      &:nth-child(4) {
        padding-right:0;
        padding-left:20px;
      }
    }  
  }
}

#header {
  background-color: @headerBackground;
  border-top: 1px solid #000;
  
  .navbar-right {
    background-color:@headerAction;
    margin-right:0;
  }
  .btn {
    background-color:@headerAction;
    color:white;
    &:hover {
      color:darken(white, 10%);
    }
    padding:10px;
    margin:4px;
  }  
}

.contact-info {
  color:white;
  font-weight:500;
  margin-top:15px;
  padding:5px;
  a:link {
    color:white;
  }
  a:hover {
    color:darken(white,10%);
  }
}

.navbar {
  border-radius:0;
  .container {
    border-top:2px solid @headerAction; 
    padding-right:0; 
  }
}

#bs-navbar {
  
  padding-right:0;  
}

.navbar-default {
  background-color:@headerBackground;
  border:none;
  
  .navbar-nav > li > a {
    color: @headerHighlight;
    &:hover {
      color:darken(@headerHighlight,10%);
    }
  }
  
  .navbar-nav .open > a:focus {
    background-color: @headerAction;
    color: white;
    font-weight:500;
  }
}

.jumbotron {
  
  margin-top:20px;
  #gradient > .vertical(white, #b3c5d5);
  
  border-radius:0;
  
  h1 {
    font-size:30px;
    color:@headerAction;
  }
  p {
    color:black;
  }
}

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -@footerHeight;
}
/* Set the fixed height of the footer here */
#push, #footer {
  margin-top: 20px;
  height: @footerHeight;
  footer {
    height:100%;
  }
}
#footer {
  color: #999999;
  background-color:#383938;
  zoom: 1;
}
#footerCopyright {
  background-color:black;
  line-height:30px;
  text-align:middle;
  position:relative;
  bottom:0;
  p {
    margin:10px;
  }
}

#footerContent {
  padding: 20px;
  height:calc(@footerHeight - @footerCopyrightHeight);
  @media (max-width: @screen-xs-max) {
    height:calc(@footerHeight + 40px - @footerCopyrightHeight);
  }
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: @screen-xs-max) {
  #footer {
    height:calc(@footerHeight + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #wrap {
    //margin: 0 auto -180px;
  }
}
#map_canvas {
  height: 240px;
  width: 100%;
  margin-bottom:20px;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#questions {
  text-align: center;
  border: 1px solid #CCC;
  
  color: #333333;
  text-shadow:none;
  margin-top:15px;  
  
  p {
    text-align:left;
    margin:10px;
  }
  
  a {
    display:inline-block;
    margin:5px;
    min-width:80%;
  
    &:last-child {
      margin-bottom:20px;
    }
  }
  
  @media (max-width: @screen-xs-max) {
    border:0; 
  }
}

#newsCarousel {
  text-align: center;
  border: 1px solid @headerAction;
  margin-bottom:15px;
  background-color:white;
  color: #333333;
  text-shadow:none;
}

#newsCarousel hr {
  margin:0;
  border-top: 1px solid @headerAction;
}

#newsCarousel .carousel-inner {
  margin-top:15px;
}
    
.callme {
  margin:0;
  padding:0;
  a {
    display:block;
  }
} 

#servicesList {
  
  > ul {
    .active {
      background-color:@headerAction;  
      color:white;  
    }

    a {
      padding:0;
      color:inherit;
      background-color:inherit;
    }
    
    li {
      background-color:white;  
      color:@headerAction;
      &:hover, &:focus {
        color:white;
        background-color:@headerAction; 
      }
    }
    
    .title {
      padding-left:10px;
    }
    
    .parent {
      li {
        border-bottom:1px solid #CCC;
        border-left:1px solid #CCC;
        border-right:1px solid #CCC;
      }
      li:last-child {
        border-bottom:0; 
      }
      > a{
        display:inline-block;
      }
      ul .title {
        padding-left:20px;
      }
      ul .placeholder {
        padding-left:20px;
      }
    }
    
    .placeholder {
      display:inline-block;
      width:35px;
      height:35px;
      padding:10px;
    }
    
    > li {
      background-color:@headerBackground;
      border-bottom:1px solid #CCC;    
      &:hover, a:hover {
        background-color:@headerAction; 
      } 
      > a{
        color:white; 
      }
    }
  }
}

.dropdown-menu {
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.jumbotron #newsCarousel {
  margin:10px;
  min-height:270px;
  color: white;
  opacity:0.8;
  background-color:@headerAction;
  border: 1px solid #111111;
  zoom: 1;
}

.jumbotron #newsCarousel hr {
  color: #555555;
  background-color:#555555;
}

.btn-override {
  background-color:#515151;
  &:hover,
  &:focus {
    background-color: @gray-lighter;
    text-decoration: none;
    background-position: 0 -15px;
    .transition(background-position .1s linear);
  }
}

.site-content {
  padding:20px;
  border: 1px solid #CCC;
  
  height:100%;
  
  h1,h2,h3,h4,h5,h6 {
    color: #515151;
  }
  
  @media (max-width: @screen-xs-max) {
    border:0; 
  }
}
 
 [class*='col-md'] > .share_toolbox {
   float:right;
   margin-top:20px;
   
   @media (max-width: @screen-xs-max) {
     float:none;
     margin-top:none;
     margin-bottom:10px;
   }
 }
 
.form-group > div > span {
   color:red;
} 

h1 {
  font-size:24.5px;
}

h2 {
  font-size:20px;
}

.summary {
  padding-top:0;
  h3 {
    text-align:center;
  }
}

.servicesHighlight {
  border: 1px solid #CCC;
  border-radius:0;
}

.mega-menu {
  width:100%;
  background-color:@headerAction;
  border:0;
  color:white;
  
  > div > ul > li > a {
    font-weight:700;
  }
  
  a {
    &:link {
      color:darken(white,10%);
    }
    &:hover {
      color:darken(white,20%);
    }
    &:visited {
      color:darken(white,10%);  
    }
  }
  
  @media (max-width: @screen-xs-max) {
    li, ul, a {
      display:block;
      width:100%;
      padding-left:0;
      margin:0;
    }
    a {
      line-height: 20px;
      padding: 10px 15px 10px 15px;
      &:focus {
        background-color:@headerAction;
        color:white;
      }
    }
  }
   
  @media (min-width: @screen-sm) {
    width:600px;
    li {
      display:inline;
    }
    
    ul {
      width:45%;
      min-height:50px;
      margin:5px;
      vertical-align:top;
      display:inline-block;
      
      ul {
        width:100%;
        display:block;
        padding-left:10px;
        list-style: square outside none;
        margin-top:0;
        
        li {
          display:list-item;
        }
      }
    }
  }
}

.qtrans_language_chooser {
  list-style-type:none;
  
  li {
    display:inline;
    float:left; 
    margin-right:3px;
  }  
}